{% extends "fa_base.html" %}

{% load i18n %}
{% load humanize %}
{% load carton_tags %}
{% load static %}
{% load utils %}

{% block title %}{% trans 'سبد خرید' %}{% endblock %}

{% block content %}

<main>

    <!-- cart_sidebar - start
    ================================================== -->
    {% include "inc/fa-cart_slidbar.html" %}

    <!-- cart_sidebar - end
    ================================================== -->


    <!-- breadcrumb_section - start
    ================================================== -->
    <section class="breadcrumb_section text-uppercase" style="background-image: url({% static 'images/breadcrumb/breadcrumb_bg_01.jpg' %});">
    {% include "inc/fa-breadcrumb_section.html" with page_name="سبد خرید" %}
    </section>

    <!-- breadcrumb_section - end
    ================================================== -->


    <!-- cart_section - start
    ================================================== -->
    <section class="cart_section sec_ptb_120 bg_default_gray">
        <div class="container" id="cart_items">
            <div class="cart_table">
                
                <table class="table" id="cart-table">
                    <thead class="text-uppercase wow fadeInUp" data-wow-delay=".1s">
                        <tr>
                            <th> {% trans "محصول" %}</th>
                            <th>{% trans "قیمت" %}</th>
                            <th>{% trans "تعداد" %}</th>
                            <th>{% trans "مجموع" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if cart.items %}
                        {% for item in cart.items %}
                        {% with item.variant as variant %}
                        {% with variant.product as product %}
                        
                        <tr id="cart-item-{{ variant.id }}" data-vid="{{variant.id}}" class="wow fadeInUp" data-wow-delay=".1s">                                
                                <td>
                                    <div class="carttable_product_item">
                                        <a href='{{product.get_absolute_url}}'>
                                        <div class="item_image">
                                            <img src="{{product.get_image}}" alt="image_not_found">
                                        </div>
                                        </a>
                                        <button type="button" data-vid="{{ variant.id }}" class="remove_btn remove-product-btn"><i class="fal fa-times"></i></button>
                                        <a href='{{product.get_absolute_url}}'>
                                            <h3 class="item_title">{{product.name}}</h3>
                                        </a>
                                    </div>
                                </td>
                                <td>
                                
                                    <span class="price_text1">
                                        {{ variant.price_after_discount|intcomma:False|persian_numbers }} {% trans "تومان" %}
                                    </span>
                                        {% if variant.has_discount %}
                                            <span class="offer theme-color">
                                                <del class="text-content">{{ variant.price_before_discount|intcomma:False|persian_numbers }}</del>
                                                <span class="offer theme-color">({{ variant.discount_percent|persian_numbers }}% {% trans 'تخفیف' %})</span>
                                        {% endif %}
                                    
                                </td>
                                <td>
                                <div class="quantity_input">
                                    <div class="quantity-price">
                                        <form action=#>
                                            <button type="button" data-vid="{{ variant.id }}" class="change-quantity " data-type="minus">–</button>

                                            <input class="quantity-{{ variant.id }} "  
                                                id='quantity-{{ variant.id }}'
                                                name='quantity' type="text" value={{item.quantity}}
                                                data-vid="{{ variant.id }}"
                                                data-product-name="{{ product.name }}"
                                                data-min="{{ variant.order_limit_min }}"
                                                data-max="{{ variant.order_limit_max }}">

                                            <button type="button" data-vid="{{ variant.id }}" class="change-quantity" data-type="plus">+</button>
                                        </form>
                                    </div>
                                </div>
                            
                                </td>
                                <td><span class="price_text2">{{ item.final_subtotal|intcomma:False|persian_numbers }} {% trans "تومان" %}</span></td>
                            </tr>
                            

                        
                        {% endwith %}
                        {% endwith %}
                        {% endfor %}
                        {% else %}
                        <tr class="wow fadeInUp" data-wow-delay=".1s">
                
                            <td>
                            </td>
                            <td><span class="price_text1">{% trans "محصولی یافت نشد !" %}</span></td>
                            <td>
                                <div class="quantity_input">
                                    
                                </div>
                            </td>
                            <td><span class="price_text2"></span></td>
                        </tr>
                        {% endif %}

                    </tbody>
                </table>

               
            </div>
            {% if cart.items %}
            <ul class="carttable_footer ul_li_right wow fadeInUp" id="invoice-section" data-wow-delay=".1s">
                <li>
                    <div class="total_price text-uppercase">
                        <span>{% trans "مبلغ کل کالاها" %} :</span>
                        <span>{{ cart.total_items|intcomma:False|persian_numbers }} {% trans 'تومان' %}</span>
                    </div>
                </li>
                {% if cart.total_profit_cart_page %}
                <li>
                    <div class="total_price text-uppercase">
                        <span>{% trans 'سود شما از خرید' %} : </span>
                        <span class="item_price" >(%{{ cart.profit_percent_cart_page|persian_numbers }}) {{ cart.total_profit_cart_page|intcomma:False|persian_numbers }} {% trans 'تومان' %}</span>
                    </div>
                </li>
                {% endif %}
                <li>
                    <div class="total_price text-uppercase">
                        <span>{% trans 'قابل پرداخت' %} : </span>
                        <span class="item_price"> {{ cart.payable_cart_page|intcomma:False|persian_numbers }} {% trans 'تومان' %}</span>
                    </div>
                </li>
                <li>
                    {% comment %} <a class="btn btn_primary text-uppercase" href="shop_checkout.html">به تسویه حساب ادامه داد</a> {% endcomment %}
                    <a href="{% url 'orders:billing' %}" title="{% trans 'ادامه جهت تسویه حساب' %}"
                                           style="font-size: 14px"
                                           class="btn btn_primary text-uppercase">{% trans 'ادامه جهت تسویه حساب' %}
                                        </a>
                </li>
                
            </ul>
            {% endif %}
        </div>            
    </section>
    <!-- cart_section - end
    ================================================== -->
    
    </main>

{% endblock content %}

