{% load i18n %}
{% load humanize %}
{% load utils %}


{% for product in products %}
    {% with product.default_variant as variant %}
        <div class="{{class}} {% for cat in product.category.all %}{{cat.id}}{% endfor %}" data-category={{product.category.0}}>
            <div class="shop_card">
                <a href="javascript:void(0)" class="add_wishlist wishlist_btn"
                data-add-wishlist-url="{{ product.add_wishlist_absolute_url }}"
                data-product-name="{{ product.name }}"><i class="fal fa-heart"></i></a>
                {% with product.badge as badge %}
                    {% if badge %}
                        <div class="share_btns">
                            <div class="custom-badge z-2">
                                <button class= "btn btn-danger">{{ badge.name }}</button>
                            </div>
                        </div>
                    {% endif %}
                {% endwith %}

                <a class="item_image" href="{{product.get_absolute_url}}" >
                    {% if product.image  %}
                    <img src={{product.get_image}} alt="{{product.name}}" class='product_image_size'>
                    {% else %}
                    <img src={{product.get_image}} alt="{{product.name}}" class='product_image_size'>
                    {% endif %}
                </a>

                <div class="item_content">
                    <h3 class="item_title text-uppercase">
                        <a href="{{product.get_absolute_url}}">{{product.name}}</a>
                    </h3>
                
                {% if product.in_stock and not product.is_variable %}
                    <div class="add-to-cart-box qty__container col-12 mx-auto btns_group">
                        <button class="btn btn-add-cart addcart-button buy-product-btn btn_border border_black text-uppercase"
                                data-variant="quantity-{{ variant.id }}"
                                data-vid="{{variant.id}}"
                                data-product-name="{{ product.name }}">{% trans 'افزودن به سبد خرید' %}
                            </button>
                        <span class="item_price bg_default_brown">{{variant.final_price|intcomma:False|persian_numbers}} {% trans "تومان" %}</span>

                    </div>

                {% elif product.in_stock and product.is_variable %}
                    <div class="add-to-cart-box qty__container col-12 mx-auto btns_group">
                        <button class="btn btn-add-cart addcart-button buy-product-btn btn_border border_black text-uppercase"
                                data-pid="{{ product.id }}"
                                data-vid="{{variant.id}}"
                                data-product-name="{{ product.name }}">
                            {% trans 'افزودن به سبد خرید' %}
                        </button>
                        
                        <div class="btns_group">
                            {% if variant and variant.in_stock_status %}
                            <span class="item_price bg_default_brown ">{{ variant.final_price|intcomma:False|persian_numbers }} {% trans "تومان" %}
                                
                                {% if variant.has_discount %}
                                <span class="takhfif me-1">{{ variant.price|intcomma:False|persian_numbers }}</span>
                                {% endif %}
                        
                            </span>
                            {% else %}
                            <span class="item_price bg_default_brown ">{% trans "ناموجود" %}</span>
                            {% endif %}
                        </div>



                        {% comment %} <span class="item_price bg_default_brown">{{variant.price|intcomma:False|persian_numbers}} تومان</span> {% endcomment %}
                    </div>
                    <div class="variants-container container-{{ product.id }}"></div>
                {% else %}
                    <div class="add-to-cart-box qty__container col-12 mx-auto btns_group">
                        <span class="btn btn_border border_black text-uppercase ">{% trans "ناموجود" %}</span>
                    </div>

                {% endif %}
                </div>
            </div>
        </div>

    {% endwith %}
{% endfor %}